.calculn {
    margin-top: 30px;
}
.caln {
    padding-left: 130px;
    padding-right: 130px;
    max-width: 500px;
}
.bt {
    margin-bottom: 8px;
    margin-left: .5px;
    width: 59px;
    height: 45px;
    font-size: 15px;
}